.Container {
  padding: 0;
}

.buttongrid {
  margin-top: 10px;
  text-align: right;
  line-height: height;
}

.loginbutton {
  margin-right: 2%;
  border-radius: 19px;
}
.signupbutton {
  border-radius: 19px;
}
